* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    background-color: #5995DA;
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 20px;
    padding: 25px 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

li {
    list-style: none;
    padding: 5px;
}