* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 20px;
    padding: 25px 0;
}

.header-left ul {
    display: flex;
    align-items: center;
}

.header-left a.active-page {
    color: red;
    font-weight: bold;
}

.header-right a.active-page {
    color: red;
    font-weight: bold;
    border: 2px solid red;
}

.header-right ul {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 5px;
}

.gym-pic {
    right: 0;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

#background-video {
    position: absolute;
    object-fit: cover;
    height: 400px;
    min-width: 100%;
    display: flex;
    z-index: 0;
}

.heading-box {
    max-width: 354px;
    text-transform: uppercase;
    color: white;
    padding: 10px 18px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    top: 50px;
    left: 100px;
}

h2 {
    padding-bottom: 20px;
    font-size: 32px;
}

.wrapper1 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #F2F2F2;
}
.nutrition-description {
    text-align: right;
    padding-right: 15px;
    max-width: 600px;
    
}
.nutrition-description h2 {
    color: navy;
    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 100px;
}

.nutrition-description p {
    font-size: 24px;
}

.wrapper2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.fitness-description {
    padding-left: 15px;
    max-width: 600px;
}

.fitness-description h2 {
    color: navy;
    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
}

.fitness-description p {
    font-size: 24px;
}

img {
    width: 600px;
    height: 300px;
    padding-right: 15px;
}

.wrapper3 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #F2F2F2;
}
.combined-description {
    text-align: right;
    padding-right: 15px;
    max-width: 600px;
    
}
.combined-description h2 {
    color: navy;
    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 100px;
}

.combined-description p {
    font-size: 24px;
}

footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-color: lightgray;
}
