* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 20px;
    padding: 25px 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left a.active-page {
    color: red;
    font-weight: bold;
}

.header-right a.active-page {
    color: red;
    font-weight: bold;
    border: 2px solid red;
}

.header-right {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 10px;
}

li {
    list-style: none;
    padding: 5px;
}

#background-video {
    object-fit: cover;
    height: 600px;
    min-width: 100%;
}

.heading-box {
    max-width: 354px;
    text-transform: uppercase;
    background: #fff;
    padding: 30px 18px;
    margin-bottom: 0;
}

